:root {
    --menu-rounding: 2rem;
}

.menu {
    width: 90vw;
    height: 100vh;
    background-color: #282828;
    border-right: 2px solid #3e3e3e;
    border-radius: 0 var(--menu-rounding) var(--menu-rounding) 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu--active {
    transform: translateX(0);
}

.menu__btn-open {
    position: fixed;
    top: .5rem;
    right: .5rem;
    z-index: 4;
}

.menu__btn-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    z-index: 6;
    margin: auto 0;
}

.menu__btn-open, .menu__btn-close {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
}

.menu__btn-hidden {
    display: none;
}

.menu__header {
    padding: 1rem;
    background-color: #a4917b;
    color: #fff;
    position: relative;
    border-radius: 0 var(--menu-rounding) 0 0;
}

.menu__title {
    font-size: 2rem;
}

.menu__profile {
    color: #fff;
    padding: 1.5rem 1rem;
    border-bottom: 2px solid #3e3e3e;
}

.menu__profile-data {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
}

.menu__profile-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.menu__profile-name {
    font-size: 1.3rem;
}

.menu__btn-sign-in-out, .menu__btn-request {
    width: 100%;
    margin-top: .5rem;
}

.rqa-modal-content {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .menu {
        width: 20vw;
        position: static;
        transform: none;
        transition: none;
        border-radius: 0;
    }

    .menu__header {
        border-radius: 0;
    }

    .menu__btn-open, .menu__btn-close {
        display: none;
    }
}
