.editor-paragraph, [class*="editor-heading-"],
.editor-list-ul, .editor-list-ol, .editor-image {
  margin-bottom: 1rem;
}

.editor-link {
  color: #007bff !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.editor-list {
  &-ul > .editor-listitem {
    list-style: disc;
  }

  &-ol > .editor-listitem {
    list-style: decimal;
  }
}

.editor-listitem {
  margin-left: 1rem;
}

.editor-image {
  display: block;
  position: relative;
  max-width: min(500px, 100%);
  max-height: min(500px, 100%);
  margin: 0 auto 1rem;

  & > img {
    max-width: 100%;
    max-height: 100%;
  }

  & > button {
    display: none;
    place-items: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: .5rem;
    right: .5rem;
    padding: 0;
    background: red;
    color: white;
    border-radius: 50%;

    &:hover {
      background: #ce0000;
    }
  }

  &:hover > button {
    display: grid;
  }
}

