$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$color-primary: #a4917b;
$color-primary-light: #cab299;
$color-secondary: #3e3e3e;
$color-secondary-light: #e1e1e1;

$color-divider-1: #666666;
$color-divider-2: #4d4d4d;
$color-divider-3: #383838;
